body {
    margin: 0;
    font-family: 'Raleway';
    padding: 0;
    font-size: 16px; 
    width: 100%;
    background: black;
}
.menu-head {
    background-color: #000000;
    padding: 10px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.menu-head img {
    width: 70px;
    margin-top: 8px;
}

.menu-head ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.menu-head ul li {
    margin-right: 20px; 
    padding: 10px 20px;
    border-right: 2px solid #725214;
    transition: background-color 0.5s cubic-bezier(0.2, 0, 0.2, 1), transform 0.5s ease; /* Transição suave */
    transform-origin: left;
    cursor: pointer;
}
.menu-head a {
 color:white;
 text-decoration: none;
  }
.menu-head ul li:hover {
    background-color: #725214; 
    transform: translateX(10px); /* Efeito de transição suave para a direita */
}
footer {
    background-color: #000000; 
    padding: 10px;
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-family: 'Raleway';
}

footer img {
    width: 70px;
    margin-top: 8px;
}

footer p {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
    color: #fff; 
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.social-icons i {
    font-size: 18px;
    color: #fff; 
    transition: color 0.3s;
}

.social-icons i:hover {
    color: #a47928; 
}

#copy {
    text-align: center;
}

#copy p {
    font-size: 14px;
    color: #fff;  
}
section.CONTA {
    background: linear-gradient( #725214, #000000 90%);
    color: white; 
    padding: 48px;
    border-radius: 18px;
    margin-top: 5%;
    margin-left: 30%;
    max-width: 900px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 38%;
}
section.CONTA h2 {
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
}
section.CONTA a {
    text-decoration: none;
    color: white;
}
section.CONTA h1 {
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    gap: 24px;
    margin-left: 34%;
    font-size: 28px;
}
section.CONTA h3 {
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    display: inline-block;
   font-size: 20px;
}
#user-stuff {
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    gap: 80px;
    margin-left: 4%;
    font-size: 20px;    
}
section.CONTA i {
    display: block;
    font-size: 8rem;
    margin: 20px auto;
    text-align: center;    
}

section.CONTA span {
    font-weight: normal;
    font-size: 18px;
    margin-left: 20px;
}
.text p {
    font-size: 1.1rem;
    text-align: justify;
    margin-left: 6%;
}
.grafico {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 12%;
    color:#fff;

}
.grafico h2 {
    margin-left: 30%;
}
#cep {
    background: linear-gradient( to top, #c1902f, #000000 80%);  
    color:#fff;
    margin-left: 30%;
    width: 45%;
    padding: 12px;
}
.gcse-search{
    margin-left: 56%;
}